

<div class="container">
    <h3 class="section-heading text-center "> Get in Touch</h3>
    <div class="row contact-section">
        <div class="col-md-2 image">
        </div>

        <div class="col-md-10">
            <p class="text-justify description ">
                Contact Me!</p>

            <p class="thanks theme-color padding-top-10"> Many Thanks :) </p>

            

                    

            <p class="text-left info">Drop me line at <span class="theme-color"> <a href="mailto: taffgal@gmail.com">taffgal@gmail.com</a> </span> or call me at <span class="theme-color"> 978-624-8441</span></p>
            <div class="social-media">
                {% include social.html social= site.data.profile.social %}
            </div>

        </div>

    </div>



</div>
