<div class="container">
    <div class="row padding-top-10">
        <div class="col-md-4">
            <ul class="list-unstyled">

              <li class="padding-top-3">
                    <i class="fa fa-envelope padding-right-10"></i> <a href="mailto: taffgal@gmail.com">taffgal@gmail.com</a>
                </li>

                <li class="padding-top-3">
                    <i class="fa fa-phone padding-right-10"></i> 978-624-8441
                </li>

                <li class="padding-top-3">
                    <i class="fa fa-map-marker padding-right-10"></i> Gallatin TN
                </li>

            </ul>
        </div>

        <div class="col-md-4 middle">
            <ul class="list-unstyled">

                <li class="padding-top-3">
                    <a href="#experiences">Experiences</a>
                </li>

                <li class="padding-top-3">
                    <a href="#education">Education</a>
                </li>

                <li class="padding-top-3">
                    <a href="#contact">Contact</a>
                </li>

            </ul>
        </div>

            </ul>
        </div>
    </div>
    <div class="social-media-footer">
        {% include social.html social= site.data.profile.social %}
    </div>
</div>